body {
    text-align: center;
    background-color: #f5f7fa;
    font-family: "SansSerif" !important;
    color: #3f3f3f !important;
}

.headerSection {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #cccccc;
}

.pull-right {
    float: right;
    margin-right: 21%
}

.text-left {
    text-align: left
}

.mainTitle {
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    background-color: #cccccc;
}

.scheduleBox p {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 0;
}

.schedule {
    border: 1px solid #cccccc;
    min-height: 300px;
}

.tableSection {
    margin-top: 20px;
}

.tableSection img {
    width: 24px;
    height: 24px;
}

#lines_dataTables_wrapper {
    min-height: 400px;
}

.container-fluid {
    padding: 0 10%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.dataTables_paginate {
    display: flex;
    float: none !important;
    text-align: center !important;
    justify-content: space-between;
    padding: 0 !important;
}

.paging_simple_numbers {
    margin-top: 2px !important;
}

.dataTables_paginate a {
    font-size: .9rem;
    padding: .1rem .1rem !important;
}

table.dataTable {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 3px 10px !important;
    cursor: pointer !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

select {
    height: calc(1.8125rem + 2px);
    font-size: 75%;
    display: inline-block;
    width: 100%;
    padding: .375rem 0.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

div.dataTables_wrapper div.dataTables_filter input {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}